.products{
    display: flex;
    align-items: flex-start; /*for the aside*/
    gap: 40px;
    padding: 40px 10%;
}

.products-showcase{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.products-list {
    flex: 1;
    position: sticky;
    top:100px;
    background-color: rgba(145, 192, 241, 0.14);
    padding: 20px;
    border-radius: 20px;
}

.products-list ul {
    list-style: none;
    padding: 0;

}

.products-list h3{
    margin-bottom: 20px;
    letter-spacing: 1.2px;
    font-family: 'Fredoka',sans-serif;
    color: #605755;
    font-size: 1.5rem;
}

.products-list li{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "JetBrains Mono ExtraBold",sans-serif;
    color: #605755;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s ease;
}

.products-list li:hover {
    color: #1aa2f4;
    transform: translateX(5px);
}

/*----------------------------------------------------------------------*/

.products-card {
    background-color: white;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(16, 15, 15, 0.07);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title{
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    color: #605755;
}

.quality {
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    font-style: italic;
    color: #605755;
    border-style: solid;
    border-radius: 25%;
    border-width: 3px;
    padding: 5px;
}

.low{
    border-color: rgba(102, 194, 234, 0.53);
}
.mid {
    border-color: rgba(23, 111, 163, 0.52);
}
.high{
    border-color: rgba(7, 65, 97, 0.53);
}

.product-description {
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    color: #605755;
    line-height: 1.3;
}

.card-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #605755;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    font-style: italic;
}

.product-id{
    opacity: 0.5;
}

/*----------------------------------------------------------------------*/

@media (max-width: 900px) {
    .products{
        flex-direction: column;
    }

    .products-list{
        display: none;
    }
}