.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: #185a9d;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.scroll-top:hover {
    transform: translateY(-3px);
}

@media (max-width: 770px) {
    .scroll-top{
        bottom: 15px;
        right: 5px;
    }
}