.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    background-color: rgba(145, 192, 241, 0.14);
}

.home-left {
    text-align: center;
    flex: 1;
}

.title {
    font-family: 'Fredoka',sans-serif;
    color: rgba(39, 28, 20, 0.64);
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 1.5rem;
    font-family: 'Alumni',sans-serif;
    color: #9a8d88;
    text-align: right;
}

.home-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-right img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
}
