.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin-top: 0px;
    background: #9a8d88;
    color: white;

}

.nav-logo {
    font-family: Fredoka,sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none; /*STOP DELETING THIS keep it*/
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    font-family: "JetBrains Mono ExtraBold",sans-serif;
}

.nav-links a:hover {
    opacity: 0.7;
}

.nav-btn {
    background: white;
    color: #111;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.nav-btn:hover {
    background: #ddd;
}
